.github{
    margin-left: 19rem;
    margin-top: 4rem;
    
}

/* @media (min-width: 851px) and (max-width : 1200px){
    .github{
        width: 100%;
        margin-left: 19rem;
    }
} */

@media screen and (max-width:480px )and (min-width: 80px) {
    .github{
        width: 90%;
        margin: auto;
    }
    
}

@media screen and (max-width:850px )and (min-width: 481px) {
    .github{
        width: 90%;
        margin: auto;
    }
}


  